@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
.blind {
  position: absolute;
  text-indent: -9999px;
  font-size: 1.6rem;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  color: #38a1f9;
}

.main-tit-area {
  width: 100%;
}
.main-tit-area .main-tit {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 40px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}
.main-tit-area .main-tit .mo {
  display: none;
}
@media (max-width: 767px) {
  .main-tit-area .main-tit {
    padding: 60px 16px 20px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: inherit;
  }
  .main-tit-area .main-tit .mo {
    display: block;
  }
}

.product-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product-items .product-item {
  width: 100%;
  padding: 18px;
}
.product-items .product-item-image {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: aqua;
  border-radius: 10px;
  overflow: hidden;
}
.product-items .product-item-image a {
  height: 100%;
  display: block;
  position: relative;
}
.product-items .product-item-image a img {
  width: 100%;
  object-fit: cover;
}
.product-items .product-item-image a .sold-out {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-items .product-item-image a .sold-out span {
  color: #fff;
  font-weight: 500;
}
.product-items .product-item-info {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.product-items .product-item-info .item-labels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
  position: absolute;
  top: 0;
}
.product-items .product-item-info .item-labels .label {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}
.product-items .product-item-info .item-labels .label span {
  display: inline-block;
  padding: 2px 5px 4px;
  color: #fff;
  font-size: 1.1rem;
}
.product-items .product-item-info .item-labels .label-best {
  background-color: #d4415e;
}
.product-items .product-item-info .item-labels .label-new {
  background-color: #38a1f9;
}
.product-items .product-item-info .item-labels .label-only {
  background-color: #ff9533;
}
.product-items .product-item-info .item-name {
  padding-top: 32px;
  height: 80px;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-items .product-item-info .item-price-box {
  margin: 2px 0;
}
.product-items .product-item-info .item-price-box .discount-percent {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d4415e;
}
.product-items .product-item-info .item-price-box .special-price {
  font-size: 1.8rem;
  font-weight: bold;
}
.product-items .product-item-info .item-price-box .basic-price {
  text-decoration-line: line-through;
  font-size: 1.4rem;
  color: #727982;
}
.product-items .product-item-info .item-review-box {
  font-size: 1.3rem;
  font-weight: 500;
  color: #727982;
}
.product-items .product-item-info .item-button-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
}
.product-items .product-item-info .item-button-box div {
  width: 50px;
}
.product-items .product-item-info .item-button-box div span {
  font-size: 30px;
  opacity: 0.4;
  cursor: pointer;
}
.product-items .product-item-info .item-button-box div span:hover {
  color: #38a1f9;
  opacity: 1;
}

.product-more .product-more-btn {
  padding: 10px 0;
  border: 1px solid #C5C8CE;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #727982;
}
.product-more .product-more-btn span {
  font-size: 1.6rem;
}
.product-more .product-more-btn .material-symbols-outlined {
  font-size: 2rem;
}

* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 62.5%;
}

body, h1, h2, h3, h4 {
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은고딕", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
  font-weight: normal;
  word-break: keep-all;
}

body {
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select, textarea {
  background-color: transparent;
  border: 0;
}
button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

a, button {
  cursor: pointer;
}

ul, ol, li {
  padding-left: 0;
  list-style: none;
}

.main-banner-wrapper {
  width: 100%;
}
.main-banner-wrapper .swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}
@media (max-width: 767px) {
  .main-banner-wrapper .swiper .swiper-button-next,
.main-banner-wrapper .swiper .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-banner-wrapper .swiper-wrapper {
    display: none;
  }
}
.main-banner-wrapper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.main-banner-wrapper .swiper-wrapper.mo {
  display: none;
  min-height: 510px;
}
@media (max-width: 767px) {
  .main-banner-wrapper .swiper-wrapper.mo {
    display: flex;
  }
}
.main-banner-wrapper .swiper-button-next {
  display: block;
  right: 5%;
  color: #222;
  opacity: 1;
}
.main-banner-wrapper .swiper-button-next:after {
  font-size: 3vw;
}
.main-banner-wrapper .swiper-button-prev {
  display: block;
  left: 5%;
  color: #222;
  opacity: 1;
}
.main-banner-wrapper .swiper-button-prev:after {
  font-size: 3vw;
}
.main-banner-wrapper .swiper-pagination {
  display: flex;
  width: 80px;
  height: 34px;
  left: auto;
  right: 5%;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 39px;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 4px;
}
@media (max-width: 767px) {
  .main-banner-wrapper .swiper-pagination {
    right: 5%;
    margin-right: 0px;
  }
}
.main-banner-wrapper .swiper-pagination .swiper-pagination-total {
  opacity: 0.7;
}

.first-wrapper {
  width: 100%;
}
.first-wrapper .first-area-banner {
  width: 100%;
  margin-bottom: 28px;
}
.first-wrapper .first-area-banner .swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}
@media (max-width: 767px) {
  .first-wrapper .first-area-banner .swiper .swiper-wrapper {
    display: none;
  }
  .first-wrapper .first-area-banner .swiper .swiper-wrapper.mo {
    display: flex;
  }
}
.first-wrapper .first-area-banner .swiper-wrapper {
  height: 100px;
}
.first-wrapper .first-area-banner .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.first-wrapper .first-area-banner .swiper-wrapper.mo {
  display: none;
  min-height: 80px;
}
.first-wrapper .first-area-banner .swiper .swiper-pagination-bullet-active {
  background-color: #222;
}
.first-wrapper .first-area-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.first-wrapper .first-area-inner .first-area-more {
  width: 600px;
  margin: 0px auto;
  padding: 20px 0;
}
.first-wrapper .first-area-inner .first-area-more .product-more-btn {
  width: 100%;
}
@media (max-width: 767px) {
  .first-wrapper .first-area-inner {
    padding: 0 16px;
  }
  .first-wrapper .product-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .first-wrapper .product-items .product-item {
    padding: 10px;
  }
}

.second-wrapper {
  width: 100%;
  padding-top: 48px;
}
.second-wrapper .second-area-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.second-wrapper .second-area-inner .product-section {
  width: 100%;
  display: flex;
}
.second-wrapper .second-area-inner .product-section-item {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.second-wrapper .second-area-inner .product-section-item .section-bg {
  width: 100%;
  height: 340px;
  object-fit: cover;
}
.second-wrapper .second-area-inner .product-section-item .section-bg-text {
  padding: 50px;
  font-size: 1.8rem;
}
.second-wrapper .second-area-inner .product-section-item .section-bg-text .tit {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 10px 0;
}
.second-wrapper .second-area-inner .product-section-item .product-items {
  width: 100%;
  padding: 0 30px;
  margin-top: -140px;
  grid-template-columns: repeat(2, 1fr);
}
.second-wrapper .second-area-inner .product-section-item .product-items .product-item {
  background-color: #fff;
}
.second-wrapper .second-area-inner .product-section-item .product-more-btn {
  width: 90%;
}
.second-wrapper .second-area-inner .product-section-item.best-items {
  margin-right: 20px;
}
.second-wrapper .second-area-inner .product-section-item.best-items .section-bg {
  background-image: url("/img/best-items-pc.jpg");
  background-size: 100%;
}
.second-wrapper .second-area-inner .product-section-item.new-items {
  margin-left: 20px;
}
.second-wrapper .second-area-inner .product-section-item.new-items .section-bg {
  background-image: url("/img/new-items-pc.jpg");
  background-size: 100%;
}

.third-wrapper {
  width: 100%;
  padding-top: 90px;
}
.third-wrapper .third-area-banner {
  width: 100%;
  margin-bottom: 30px;
}
.third-wrapper .third-area-banner img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.third-wrapper .third-area-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
.third-wrapper .third-area-inner .product-items {
  display: block;
}
.third-wrapper .third-area-inner .product-items .product-item {
  display: flex;
  align-items: center;
}
.third-wrapper .third-area-inner .product-items .product-item-image {
  max-width: 290px;
}
.third-wrapper .third-area-inner .product-items .product-item-info {
  margin: 0 20px 0 50px;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-tit {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-labels {
  position: static;
  margin-bottom: 12px;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-labels .label span {
  font-size: 1.4rem;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-name {
  height: auto;
  padding-top: 0;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-name span {
  font-size: 1.8rem;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-price-box {
  margin: 5px 0;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-price-box .discount-percent {
  font-size: 2.2rem;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-price-box .special-price {
  font-size: 2.2rem;
}
.third-wrapper .third-area-inner .product-items .product-item-info .item-price-box .basic-price {
  font-size: 1.6rem;
}
.third-wrapper .third-area-inner .product-items .product-item-button-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.third-wrapper .third-area-inner .product-items .product-item-button-box div {
  width: 50px;
}
.third-wrapper .third-area-inner .product-items .product-item-button-box div span {
  font-size: 34px;
  opacity: 0.3;
  cursor: pointer;
}
.third-wrapper .third-area-inner .product-items .product-item-button-box div span:hover {
  color: #38a1f9;
  opacity: 1;
}

.fourth-wrapper {
  width: 100%;
  padding: 40px 0;
}
.fourth-wrapper .fourth-area-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
.fourth-wrapper .fourth-area-inner .product-items {
  display: block;
  width: 55%;
  margin-right: 10px;
}
.fourth-wrapper .fourth-area-inner .product-items .product-item {
  display: none;
  gap: 20px;
  align-items: center;
}
.fourth-wrapper .fourth-area-inner .product-items .product-item .product-item-info {
  margin-top: 0;
}
.fourth-wrapper .fourth-area-inner .product-items .product-item .product-item-info .item-name {
  height: auto;
  font-size: 1.8rem;
}
.fourth-wrapper .fourth-area-inner .product-items .product-item .product-item-info .item-button-box {
  justify-content: normal;
  gap: 10px;
}
.fourth-wrapper .fourth-area-inner .product-items .product-item .product-item-info .item-button-box div {
  width: auto;
}
.fourth-wrapper .fourth-area-inner .product-items .product-item.active {
  display: flex;
}
.fourth-wrapper .fourth-area-inner .product-tab-area {
  width: 45%;
  margin-left: 10px;
  padding: 20px;
}
.fourth-wrapper .fourth-area-inner .product-tab-area li {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
}
.fourth-wrapper .fourth-area-inner .product-tab-area li a {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.fourth-wrapper .fourth-area-inner .product-tab-area li a .popular-num {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 12px;
}
.fourth-wrapper .fourth-area-inner .product-tab-area li a .popular-name {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.7rem;
}
.fourth-wrapper .fourth-area-inner .product-tab-area li.active {
  border: 1px solid #38a1f9;
}
.fourth-wrapper .fourth-area-inner .product-tab-area li.active .popular-num {
  color: #38a1f9;
}

footer {
  width: 100%;
  background-color: #333;
}
footer .footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  font-size: 1.4rem;
}
footer .footer-inner .footer-top {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #999;
}
footer .footer-inner .footer-top .footer-menu-items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
footer .footer-inner .footer-top .footer-menu-items .footer-menu-item {
  margin-right: 30px;
}
footer .footer-inner .footer-top .footer-menu-items .footer-menu-item a {
  width: 100%;
  display: block;
}
footer .footer-inner .footer-top .footer-menu-items .footer-menu-item a:hover {
  text-decoration: underline;
}
footer .footer-inner .footer-bottom {
  width: 100%;
  padding: 40px 0;
}
footer .footer-inner .footer-bottom .footer-info-items {
  font-size: 1.3rem;
  font-weight: 500;
  color: #999;
}
footer .footer-inner .footer-bottom .footer-info-items .footer-info-item {
  margin-bottom: 8px;
}
footer .footer-inner .footer-bottom .footer-info-items .footer-info-item span {
  margin-right: 24px;
}
footer .footer-inner .footer-bottom .footer-info-items .footer-info-item .info-link {
  color: #fff;
  font-size: 1.2rem;
  margin-left: -20px;
}
footer .footer-inner .footer-bottom .footer-info-items .footer-info-item .info-link:hover {
  text-decoration: underline;
}

.top-button {
  width: 50px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #C5C8CE;
  position: fixed;
  bottom: 7%;
  right: 2%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-ad {
  width: 100%;
  background-color: #38a1f9;
}
.header-ad p {
  font-size: 1.3rem;
  color: #fff;
  padding: 6px 0;
  text-align: center;
}

.header-inner {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
@media (max-width: 767px) {
  .header-inner {
    display: none;
  }
}
.header-inner .header-top {
  width: 100%;
  border-bottom: 1px solid #e9ebee;
}
.header-inner .header-top-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header-inner .header-top-inner {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .header-inner .header-top-inner {
    padding: 0 16px;
  }
}
.header-inner .header-top-inner .header-top-items {
  height: 50px;
  display: flex;
  align-items: center;
}
.header-inner .header-top-inner .header-top-items .header-top-item {
  padding-left: 35px;
  position: relative;
}
.header-inner .header-top-inner .header-top-items .header-top-item a {
  display: block;
  font-size: 1.3rem;
  color: #727982;
}
.header-inner .header-top-inner .header-top-items .header-top-item:last-child::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #C5C8CE;
  position: absolute;
  top: 4px;
  left: 15px;
}
.header-inner .header-bottom {
  width: 100%;
  margin-bottom: 10px;
}
.header-inner .header-bottom-inner {
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header-inner .header-bottom-inner {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .header-inner .header-bottom-inner {
    padding: 0 16px;
  }
}
.header-inner .header-bottom-inner .left {
  display: flex;
  align-items: center;
}
.header-inner .header-bottom-inner .left .logo {
  width: 180px;
  height: 100%;
}
.header-inner .header-bottom-inner .left .logo a {
  display: block;
  width: 100%;
}
.header-inner .header-bottom-inner .left .logo a img {
  width: 100%;
}
.header-inner .header-bottom-inner .left .text {
  font-weight: 500;
}
.header-inner .header-bottom-inner .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}
.header-inner .header-bottom-inner .right .search {
  height: 40px;
  background-color: #EEEEEE;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.header-inner .header-bottom-inner .right .search-items {
  width: 100%;
  display: flex;
}
.header-inner .header-bottom-inner .right .search-items input {
  width: 260px;
  flex-grow: 1;
  padding: 0 20px;
}
.header-inner .header-bottom-inner .right .search-items span {
  padding-right: 10px;
  cursor: pointer;
}
.header-inner .header-bottom-inner .right .icon a span {
  font-size: 30px;
}
.header-inner nav {
  width: 100%;
  border-bottom: 1px solid #EEEEEE;
}
.header-inner nav .nav-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header-inner nav .nav-inner {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .header-inner nav .nav-inner {
    padding: 0 16px;
  }
}
.header-inner nav .nav-inner .left, .header-inner nav .nav-inner .right {
  display: flex;
  align-items: center;
}
.header-inner nav .nav-inner .left li, .header-inner nav .nav-inner .right li {
  position: relative;
}
.header-inner nav .nav-inner .left li a, .header-inner nav .nav-inner .right li a {
  display: inline-block;
  padding: 14px;
  font-weight: 500;
}
.header-inner nav .nav-inner .left li:hover:after, .header-inner nav .nav-inner .right li:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #38a1f9;
  position: absolute;
  bottom: 0;
}

.header-inner.header-inner-mobile {
  display: none;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e9ebee;
}
@media (max-width: 767px) {
  .header-inner.header-inner-mobile {
    display: flex;
  }
}
.header-inner.header-inner-mobile .header-mobile-area {
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner.header-inner-mobile .header-mobile-area .toggle-btn {
  cursor: pointer;
  margin-right: 5px;
}
.header-inner.header-inner-mobile .header-mobile-area .toggle-btn span {
  font-size: 3rem;
}
.header-inner.header-inner-mobile .header-mobile-area .logo {
  flex-grow: 1;
}
.header-inner.header-inner-mobile .header-mobile-area .logo a {
  width: 140px;
  display: flex;
  align-items: center;
}
.header-inner.header-inner-mobile .header-mobile-area .logo a img {
  width: 100%;
}
.header-inner.header-inner-mobile .header-mobile-area .icon-items {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
.header-inner.header-inner-mobile .header-mobile-area .icon-items li {
  margin-left: 10px;
}
.header-inner.header-inner-mobile .header-mobile-area .icon-items li a span {
  font-size: 2.6rem;
}