header {
  width: 100%;
  position: sticky;
  top:0;
  z-index: 99;
}

// 헤더 광고
.header-ad {
  width: 100%;
  background-color: $color-blue;
  p {
    font-size: 1.3rem;
    color: $color-white;
    padding: 6px 0;
    text-align: center;
  }
}

.header-inner {
  width: 100%;
  margin: 0 auto;
  background-color: $color-white;

  @include mobile {
    display: none;
  }

  // 헤더 위 영역
  .header-top {
    width: 100%;
    border-bottom: 1px solid #e9ebee;

    &-inner {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;

      @include tablet {
        padding: 0 40px;
      }
      @include mobile {
        padding: 0 16px;
      }

      .header-top-items {
        height: 50px;
        display: flex;
        align-items: center;

        .header-top-item {
          padding-left: 35px;
          position: relative;
          a {
            display: block;
            font-size: 1.3rem;
            color: $color-grey;
          }

          // 고객센터 왼쪽 선
          &:last-child::before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 13px;
            background-color: $color-border;
            position: absolute;
            top: 4px;
            left: 15px;
          }
        }
      }
    }
  }

  // 헤더 아래 영역
  .header-bottom {
    width: 100%;
    margin-bottom: 10px;

    &-inner {
      height: 80px;
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include tablet {
        padding: 0 40px;
      }
      @include mobile {
        padding: 0 16px;
      }

      // 헤더 아래 영역 왼쪽
      .left {
        display: flex;
        align-items: center;
        // 로고
        .logo {
          width: 180px;
          height: 100%;

          a {
            display: block;
            width: 100%;

            img {
              width: 100%;
            }
          }
        }

        // 로고 옆 문구
        .text {
          font-weight: 500;
        }
      }

      // 헤더 아래 영역 오른쪽
      .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        gap: 20px;

        // 검색창
        .search {
          height: 40px;
          background-color: $color-light-grey;
          border-radius: 20px;
          display: flex;
          align-items: center;

          &-items {
            width: 100%;;
            display: flex;

            // 검색 입력창
            input {
              width: 260px;
              flex-grow: 1;
              padding: 0 20px;
            }

            // 돋보기 아이콘
            span {
              padding-right: 10px;
              cursor: pointer;
            }
          }
        }

        .icon {
          a {
            span {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  // 헤더 nav
  nav {
    width: 100%;
    border-bottom: 1px solid $color-light-grey;

    .nav-inner {
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include tablet {
        padding: 0 40px;
      }
      @include mobile {
        padding: 0 16px;
      }

      // nav 왼쪽, 오른쪽
      .left, .right {
        display: flex;
        align-items: center;
        li {
          position: relative;
          a {
            display: inline-block;
            padding: 14px;
            font-weight: 500;
          }

          &:hover {
            &:after {
              content: '';
              display: block;
              width: 100%;
              height: 2px;
              background-color: $color-blue;
              position: absolute;
              bottom: 0;
            }
          }
        }
      }

    }
  }
}

// 모바일 헤더
.header-inner.header-inner-mobile {
  display: none;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e9ebee;

  @include mobile{
    display: flex;
  }

  .header-mobile-area {
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // 토글 버튼
    .toggle-menu-open-btn {
      cursor: pointer;
      margin-right: 5px;
      span {
        font-size: 3rem;
      }
    }
    // 토글 메뉴
    nav {
      overflow-y: hidden;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0%;
      left: -100vw;
      z-index: 999;
      background-color: #f7f8f9;
      
      .toggle-menu {
        padding-top: 15px;
        background-color: #fff;

        * a {
          padding: 13px 0;
          font-size: 2rem;
          display: flex;
          justify-content: space-between;
        }

        // 토글 메뉴 닫기 버튼
        &-close-btn {
          margin-left:24px;
          span {
            font-size: 3.2rem;
          }
        }

        // 토글 메뉴 윗 부분
        &-top {
          margin-top: 24px;
          padding: 0px 30px 10px;
          border-bottom: 1px solid $color-light-grey;
        }

        // 토글 메뉴 아래 부분
        &-bottom {
          margin-top: 24px;
          padding: 0px 30px 14px;

          a {
            font-weight: 500;
          }

          span.line {
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: $color-light-grey;
          }
        }

        // 회원가입 / 고객센터 
        &-sub-menu {
          background-color: #f7f8f9;
          display: flex;
          justify-content: center;
          padding-top: 20px;
          
          li {
            width: 150px;
            height: 40px;
            line-height: 40px;
            position: relative;
            a {
              padding: 0;
              justify-content: center;
              span {
                color: $color-grey;
                font-size: 1.7rem;
              }
              span.material-symbols-outlined {
                margin-right: 8px;
                font-size: 2.4rem;
              }
            }

            &:first-child {
              &::after {
                display: block;
                content: "";
                width: 1px;
                height: 20px;
                background-color: #333;
                position: absolute;
                right: 0;
                top: 10px;
              }
            }
          }

        }
      }
    }
      


    // 로고
    .logo {
      flex-grow: 1;
      a {
        width: 140px;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }

    // 아이콘
    .icon-items {
      width: 100px;
      display: flex;
      justify-content: flex-end;
      
      li {
        margin-left: 10px;
        a {
          span {
            font-size: 2.6rem;
          }
        }
      }

    }
  }
}
