// 메인 배너 슬라이드
.main-banner-wrapper {
  width: 100%;

  .swiper {
    width: 100%;
    height: 100%;
    z-index: 0;

    @include mobile {
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }

    // 배너 영역
    &-wrapper {
      @include mobile {
        display: none;
      }
      .swiper-slide {
        height: 510px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }
    &-wrapper.mo {
      display: none;
      min-height: 510px;
      @include mobile {
        display: flex;
      }
    }

    // 배너 다음 버튼
    &-button-next {
      display: block;
      right: 5%;
      color: $color-black;
      opacity: 1;

      // 버튼 크기
      &:after {
        font-size: 3vw;
      }
    }
    // 배너 이전 버튼
    &-button-prev {
      display: block;
      left: 5%;
      color: $color-black;
      opacity: 1;


      // 버튼 크기
      &:after {
        font-size: 3vw;
      }
    }


    // 배너 페이지네이션
    &-pagination {
      display: flex;
      width: 80px;
      height: 34px;
      left: auto;
      right: 5%;
      // margin-right: -600px;
      margin-bottom: 30px;
      background-color: rgba(0,0,0, .4);
      border-radius: 39px;
      align-items: center;
      justify-content: center;
      color : $color-white;
      gap: 4px;

      @include mobile {
        right: 5%;
        margin-right: 0px;
      }

      .swiper-pagination-total {
        opacity: .7;
      }
    }

  }
}


// 첫번째 영역 / 공식몰에서만
.first-wrapper {
  width: 100%;

  // 첫번째 영역 메인 타이틀
  // base.scss

  // 첫번째 영역 배너
  .first-area-banner {
    width: 100%;
    margin-bottom: 28px;

    .swiper {
      width: 100%;
      height: 100%;
      z-index: 0;

      @include mobile {
        .swiper-wrapper {
          display: none;
        }
        .swiper-wrapper.mo {
          display: flex;
        }
      }
  
      // 배너 영역
      &-wrapper {
        height: 100px;
        .swiper-slide {
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }
      }
      &-wrapper.mo {
        display: none;
        min-height: 80px;
      }


      // 페이지네이션 영역
      .swiper-pagination {
        &-bullet-active {
          background-color: $color-black;
        }
      }
      
    }
  }

  // 첫 번째 영역
  .first-area-inner {
    max-width: 1200px;
    margin: 0 auto;

    // 제품
    // base.scss

    // 상품 더보기 버튼
    // base.scss
    .first-area-more {
      width: 600px;
      margin: 0px auto;
      padding: 20px 0;

      .product-more-btn {
        width: 100%;
      }
    }

    @include mobile {
      .first-area-more {
        width: 100%;
      }
    }
  }

  @include mobile {
    .first-area-inner {
      padding: 0 24px;
    }
    .product-items {
      grid-template-columns: repeat(2, 1fr);

      .product-item {
        padding: 10px;
      }
    }
  }

}


// 두 번째 영역 / 놓치면 후회
.second-wrapper {
  width: 100%;
  padding-top: 48px;

  // 두 번째 메인 타이틀
  // base.scss

  // 두 번째 제품 영역
  .second-area-inner {
    max-width: 1200px;
    margin: 0 auto;

    // 탭 메뉴
    .product-tab-btn {
      width: 100%;
      margin: 10px 0;
      display: none;
      align-items: center;
      justify-content: center;
      gap: 8px;

      li {
        border-bottom: 1px solid $color-white;
        a {
          width: 100%;
          display: block;
          padding: 5px 5px;
          font-weight: bold;
          color: $color-grey;
        }
      }
      li.active {
        border-bottom: 2px solid $color-blue;
        a {
          color: $color-blue;
        }
      }
      
    }

    .product-section {
      width: 100%;
      display: flex;

      &-item {
        width: 50%;
        display: flex;
        flex-direction: column;

        // 섹션 배경
        .section-bg {
          width: 100%;
          height: 340px;
          object-fit: cover;

          &-text {
            padding: 50px;
            font-size: 1.8rem;

            .tit {
              font-size: 2.6rem;
              font-weight: 500;
              margin: 10px 0;
            }
          }
        }

        // 제품
        .product-items {
          width: 100%;
          padding: 0 30px;
          margin-top: -140px;
          grid-template-columns: repeat(2, 1fr);

          .product-item {
            background-color: $color-white;
          }
        }

        // 상품 더보기 버튼
        // base.scss
        .product-more {
          &-btn {
            width: 90%;
          }
        }
      }
      &-item.best-items {
        margin-right: 20px;
        
        .section-bg{
          background-image: url('/img/best-items-pc.jpg');
          background-size: 100%;
        }
      }
      &-item.new-items {
        margin-left: 20px;

        .section-bg {
          background-image: url('/img/new-items-pc.jpg');
          background-size: 100%;
        }
      }
    }
  }

  @include mobile {
    padding-top: 0;

    .second-area-inner{
      // 탭 메뉴
      .product-tab-btn {
        display: flex;
      }
      .product-section {
        display: block;
        &-item {
          width: 100%;
          align-items: center;
          padding-bottom: 36px;
          // 섹션 배경
          .section-bg {
            width: 100%;
            height: 240px;
            margin-bottom: 70px;
            .section-bg-text {
              display: flex;
              flex-direction: column-reverse;
              background-color: white;
              margin: 0 24px;
              padding: 24px;
              transform: translateY(200px);
              font-size: 1.6rem;
              .tit {
                font-size: 2.2rem;
                margin: 0 0 10px;
              }
            }
          }
          // 제품
          .product-items {
            padding: 0 24px;
            margin-top: 0px;
            grid-template-columns: repeat(1, 1fr);
            .product-item {
              display: flex;
              align-items: center;
              padding: 20px 0;
              border-bottom: 1px solid $color-light-grey;

              // 제품 이미지 영역
              &-image {
                width: 30%;
                margin-right: 20px;
              }
              // 제품 정보
              &-info {
                flex-grow: 1;
                margin-top: 0;
                font-size: 1.4rem;

                // 제품명
                .item-name {
                  height: auto;
                  padding-top: 26px;
                }

                // 제품 가격
                // base.scss

                // 장바구니 버튼
                .item-button-box {
                  padding: 6px 0 0;
                  justify-content: flex-start;
                  gap: 5px;

                  div {
                    width: auto;
                    span {
                      font-size: 2.2rem;
                    }
                  }
                }
              }

              &:last-child {
                border-bottom: 0px;
              }
            }
          }

          // 상품 더보기
          .product-more {
            width: 100%;
            padding: 0 24px;
            &-btn {
              width: 100%;
            }
          }
        }

        &-item.best-items {
          margin-right: 0;
          display: none;
          
          .section-bg{
            background-image: url('/img/best-items-mo.jpg');
            background-size: 100%;
          }
        }
        &-item.best-items.active {
          display: block;
        }
        &-item.new-items {
          margin-left: 0;
          display: none;

          .section-bg {
            background-image: url('/img/new-items-mo.jpg');
            background-size: 100%;
          }
        }
        &-item.new-items.active {
          display: block;
        }
      }
    }
  }
}

// 세 번째 영역 / 찐이륜의 추천템
.third-wrapper {
  width: 100%;
  padding-top: 90px;

  // 세 번째 영역 배너
  .third-area-banner {
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
    }
    img.mo {
      display: none;
    }
  }

  // 세 번째 제품 영역
  .third-area-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    .product-items {
      display: block;
      .product-item {
        display: flex;
        align-items: center;

        // 제품 사진
        &-image {
          max-width: 290px;
        }

        // 제품 정보
        &-info {
          margin: 0 20px 0 50px;
          .item-tit {
            font: {
              size: 2.6rem;
              weight : 500;
            }
            line-height: 130%;
            margin-bottom: 20px;
          }

          // 제품 라벨
          .item-labels {
            position: static;
            margin-bottom: 12px;
            .label {
              font-size: 1.4rem;
            }
          }
          // 제품명
          .item-name {
            height: auto;
            padding-top: 0;
            font-size: 1.8rem;
          }

          // 제품 가격
          .item-price-box {
            margin: 5px 0;
            .discount-percent {
              font-size: 2.2rem;
            }
            .special-price {
              font-size: 2.2rem;
            }
            .basic-price {
              font-size: 1.6rem;
            }
          }
        }

        // 제품 위시리스트, 장바구니
        &-button-box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          div {
            width: 50px;
            span {
              font-size: 34px;
              opacity: .3;
              cursor: pointer;

              &:hover {
                color: $color-blue;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  @include mobile {
    padding-top: 40px;

    // 세 번째 영역 배너
    .third-area-banner {
      margin-bottom: 0;
      img.pc {
        display: none;
      }
      img.mo {
        display: block;
        height: auto;
      }
    }

    // 세 번째 제품 영역
    .third-area-inner {
      padding: 0 24px;

      .product-items {
        .product-item {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          padding: 0;

          // 제품 사진
          &-image {
            max-width: 100%;
            margin-bottom: 20px;
            grid-column: 1 / 8;
          }

          // 제품 정보
          &-info {
            margin: 0;
            grid-column: 1 / 7;


            .item-tit {
              display: none;
            }
            // 제품 라벨
            .item-labels {
              .label {
                font-size: 1.1rem;
              }
            }
            // 제품명
            .item-name {
              font-size: 1.6rem;
            }
            // 제품 가격
            .item-price-box {
              margin: 2px 0;
              // 할인율
              .discount-percent {
                font-size: 1.5rem;
              }
              // 할인 적용된 가격
              .special-price {
                font-size: 1.5rem;
              }
              // 원래 가격
              .basic-price {
                font-size: 1.3rem;
              }
            }
          }
          // 제품 위시리스트, 장바구니
          &-button-box {
            align-items: flex-end;
            div {
              width: auto;
              span {
                font-size: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}


// 네 번째 영역 / 지금 가장 인기 있는 상품
.fourth-wrapper {
  width: 100%;
  padding: 40px 0;

  .fourth-area-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    position: relative;

    // 제품 영역
    .product-items {
      display: none;
      width: 55%;
      margin-right: 10px;

      .product-item {
        display: none;
        gap: 20px;
        align-items: center;

        .product-item-info {
          margin-top: 0;

          .item-name {
            height: auto;
            font-size: 1.8rem;
          }

          .item-button-box {
            justify-content: normal;
            gap: 10px;

            div {
              width: auto;
            }
          }
        }

      }

      .product-item.active {
        display: flex;
      }
    }

    // 제품명 탭 영역
    .product-tab-area {
      width: 45%;
      margin-left: 55%;
      padding: 20px;

      li {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 3px;

        dl {
          dt {
            a {
              width: 100%;
              padding: 20px;
              display: flex;
              align-items: center;
    
              .popular-num {
                font-size: 2rem;
                font-weight: bold;
                padding-right: 12px;
              }
    
              .popular-name {
                overflow: hidden;
                display: inline-block;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 1.7rem;
              }
    
            }
          }

          dd {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      li.active {
        border: 1px solid $color-blue;
        .popular-num {
          color: $color-blue;
        }
      }
    
    }
  }

  @include mobile {
    padding: 0;
    .fourth-area-inner {
      padding: 0 24px;
    }
  }
}


